# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/
.env
.venv
venv/
env/

# Jupyter
*.ipynb_checkpoints

# Data files
*.csv
*.h5
*.hdf5
*.pkl
*.pt
*.ckpt
*.joblib

# Logs and models
logs/
checkpoints/
runs/

# VS Code
.vscode/

# Mac
.DS_Store
